[submodule "nvim"]
	path = nvim
	url = https://github.com/alsolovyev/nvim-config
	branch = master
[submodule "tmux/plugins/catppuccin"]
	path = tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux.git
